*{
    box-sizing: border-box;
   
}
body{
    background-color: rgb(223, 232, 241);
}

div.form{
    width: 20%;
    margin: 10rem auto;
    background-color: yellowgreen;
    align-items: center;
    padding: 1rem 1rem;
    border-radius: 1rem 1rem;
    display: flex;
    flex-direction: column;
}
div.form > input{
    width: 80%;
    padding: 1rem 1rem;
    display: block;
    margin: 20px;
    border-radius: 20px;
    
}

div.conteiner{
    text-align: center;
   
}

.btn{
    padding: 10px 60px;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 5000;
    border-radius: 30px;
    
   
    
}
.show{
    width: 400px;
    background-color: white;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 45%;
    transform: translate(-50% -50%) scale(0.1);
    text-align: center;
    padding: 0 20px 20px;
    color: rgb(226, 64, 77);
    visibility: hidden;
    transition: transform .5s, top .5s;

}
.open-show{
    visibility: visible;
    top: 20%;
    transform: translate(-50% -50%) scale(1);
    left: 37%;
  
}
.show img{
    width: 50%;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.show h2{
    font-size: 40px;
    font-weight: 450px;
    margin: 30px 0 10px;
}
.show button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #69d044;
    color: white;
    border: 0;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}


@keyframes doibien{
    from{
        border-color:  gray;
    }
    to{
        border-color:  red;
    }
}
.error{
    animation: doibien .5s 3;
}
input[type=number]{
    border: 1px solid gray;
}
input[type=text]{
    border: 1px solid gray;
}

@media screen and (max-width: 500px) {
    div.form{
        
        width: 60%;
        margin: 0 auto;
        background-color: rgb(153, 119, 234);
        align-items: center;
        padding: 1rem 1rem;
        border-radius: 1rem 1rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        
    }
    div.form > input{
        width: 80%;
        padding: 1rem 1rem;
        display: block;
        margin: 50px;
        border-radius: 20px;
        
        
        
    }
    div.conteiner{
        text-align: center !important;
        
    }
    .btn{
        padding: 10px 60px;
        border: 0;
        outline: none;
        cursor: pointer;
        font-size: 20px;
        font-weight: 5000;
        border-radius: 30px;
        margin-left: 33px;
        width: 15%;
        text-align: center;
        
        
    }
    input[type=button]
    {
        font-size: 1rem;
       text-align: center;
    }
    .show{
        width: 300px;
        background-color: white;
        border-radius: 6px;
        position: absolute;
        top: 0;
        left: 220px;
        transform: translate(-50% -50%) scale(0.1);
        text-align: center;
        padding: 0 20px 20px;
        color: rgb(226, 64, 77);
        visibility: hidden;
        transition: transform .5s, top .5s;
    
    }
    .open-show{
        visibility: visible;
        top: 5%;
        transform: translate(-50% -50%) scale(1);
        left: 8%;
      
    }
    .show img{
        width: 50%;
        margin-top: -50px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    .show h2{
        font-size: 40px;
        font-weight: 450px;
        margin: 30px 0 10px;
    }
    .show button{
        width: 100%;
        margin-top: 50px;
        padding: 10px 0;
        background: #69d044;
        color: white;
        border: 0;
        outline: none;
        font-size: 20px;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    }
    
}